.blog-item-wrapper{
    border: 1px solid $teal;
    border-radius: 5px 15px;
    margin: 10px 0px;
    padding: 10px 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 30px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    // min-width: 300px;

    .blog-item-head {
        @include base-flex-row;

        .image-wrapper {
            margin: 0px 10px 0px 0px;
            img {
                width: 50px;
                height: 50px;
            }
        }
    }
    .blog-item-content {
        @include base-flex-column;
        padding: 10px 10px;
    }

}