// html {
    // font-size: 62.5%; // 1rem is 10px
// }

// *,
// *::after,
// *::before {
//     margin: 0;
//     padding: 0;
//     box-sizing: inherit;
//     font-family: 'montserrat';
// }

body {
    margin: 0px;
    font-family: 'Titillium Web', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px 50px;
    height: calc(100vh - 54px);
}

a {
    cursor: pointer;
  }